name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Install dotnet-format
      run: dotnet tool install -g dotnet-format
    - name: Code analysis
      run: dotnet-format --check
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal /p:CollectCoverage=true /p:CoverletOutputFormat=opencover
    
  roslynator:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Add nuget.org package source
      run: dotnet nuget add source https://api.nuget.org/v3/index.json -n nuget.org

    - name: Install Roslynator
      run: dotnet tool install -g roslynator.dotnet.cli

    - name: Run Roslynator
      run: roslynator analyze .\CEXPOC.csproj